
.parts{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}


.article-list__li{
    width: 31.3%;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 20px;
    margin: 1%;
}

.article-list__li article{
    text-align: center
}

.min_image{
    margin: 0 auto;
    display: block;
    max-width: 300px;
}
